* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

header {
    padding: 1em;
    height: 20vh;
}

#app {
    position: relative;
    height: 100vh;
    background-color: #fff;
}

.button {
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: #EDF2F7;
}

.input-txt {
    margin-right: 10px;
}

#mapid {
    height: 80vh;
}

#aside-users {
    height: 100%;
    width: 25vw;
    height: 80vh;
    position: absolute;
    z-index: 1000;
    overflow-y: auto;
    padding: 5px 10px;
    background: #fff;
}

.aside-page {
    margin-bottom: 25px;
}

.box {
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #4a4a4a;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

.box:hover {
    transition: all 0.2s ease-in-out;
    background-color: #EDF2F7;
}

.user-img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

#app.dark, .dark #aside-users {
    background-color: #2D3748;
    color: #fff;
}

.dark .box {
    background-color: #1A202C;
    color: #EDF2F7;
    border-color: #718096;
}

.dark .box:hover {
    background-color: #4A5568;
}

.dark .input-txt, .dark .button {
    background-color: #1A202C;
    color: #EDF2F7;
    border-color: #718096;
}

.dark .button:hover {
    background-color: #4A5568;
    transition: all 0.2s ease-in-out;
}

.dark .subtitle {
    color: #EDF2F7; 
}

.dark ::placeholder {
    color: #718096;
}

#light-btn {
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
}

#dark-btn {
    background-color: #1A202C;
    color: #EDF2F7;
    border-color: #718096;
}