* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

#app {
    position: relative;
    height: 100vh;
    background-color: #fff;
}

header {
    padding: 1em;
    height: 20vh;
}

.input-txt {
    margin-right: 10px;
}

#mapid {
    height: 85vh;
}

#aside-users {
    height: 100%;
    width: 25vw;
    height: 80vh;
    position: absolute;
    z-index: 1000;
    background: #fff;
    overflow-y: auto;
    padding: 5px 10px;
}

.aside-page {
    margin-bottom: 25px;
}

.box {
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.box:hover {
    background-color: #EDF2F7;
    transition: all 0.2s ease-in-out;
}

.user-img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 0 0 5px #CBD5E0;
}